body{
    margin: 0;
    padding: 0;
    background-color: #f7fbfc;
}
.text-center{
    text-align: center;
}
.input-boxes{
    display: block;
    font-size: 18px;
    padding: 5px 10px;
    width: 270px;
margin-bottom:13px;
}
.btn{
   background-color: black;
   border:none;
   border-radius: 10px;
   min-width: 100px;
   padding: 10px 20px;
   text-align: center;
   color: white;
   font-size: 18px;
}
.label{
    font-size: 25px;
}
.text-right{
  text-align: right;
}
